
body {
	background: #333;
	color: #fff;
	font-weight: 400;
	font-size: 1em;
	font-family: 'Raleway', Arial, sans-serif;
}

a {
	color: #f0f0f0;
	text-decoration: none;
	outline: none;
}

.demo-1 { background: #466155; }
.demo-1 a { color: #be4856; }

a:hover, a:focus {
	color: #fff;
}

section {
	padding: 1em;
	text-align: center;
}

